/*I honestly cant explain what im doing but im doing it #girlboss  */
*{
 box-sizing: border-box;
}
body{
  background-color:#F499BC
;
  color:#250709;
}
/* Style of the header*/

  /* style of the nagiagtion bar */
  .topnav{
    background-color:#b896d9;
    overflow: hidden;
  }
  /* style the links inside the navigation bar*/
  .topnav a{
    color:#643dd1 ;
    float: left;
    display: block;
    text-algin: center;
    padding: 14px 16px;
  }
  .topnav a:hover{
    background-color:#8fceff;
    color:#476cff
  }
  .header{
    background-color:#c48aff;
    padding: 20px;
    text-align: center;
    color:#ff75b8;
  }
  /*Creates 3 equal colums that float next to each other*/
  .column{
    float:left;
    width:33.33%;
    padding:15px;
    background-color:#c2f0ff;
    border: 2px  outset #70cfff;
   
  }

